@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

    body {
        background-image: url('../../wwwroot/Images/thankyoudonation.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-color: grey;
    }
    .alert-heading {
        background-color: lightgrey;
        width: 50%px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
        font-size: medium;
    }

    h2 {
        color: yellowgreen;
    }

    b {
        color: hotpink;
        font-size: large;
        font-style: italic;
    }
</style>
@{Html.RenderPartial("~/Views/Shared/_DonorNavbar.cshtml");}
<div class="alert-heading">
    total amount generated  by  donor id  @TempData.Peek("donorid")  is <b>@TempData.Peek("amount") Rs/-</b>
</div>
