.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px
}

.alert_info {
    background-color: #4285f4;
    border: 2px solid #4285f4
}
.alert_error {
    background-color: #f95668;
    border: 2px solid #f95668
}
