@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/Counter.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<section id="counter" class="sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="count">
                    <span class="fa fa-smile-o"></span>
                    <p class="number">126</p>
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="count">
                    <span class="fa fa-smile-o"></span>
                    <p class="number">535</p>
                    <h4>Awards</h4>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="count">
                    <span class="fa fa-smile-o"></span>
                    <p class="number">896</p>
                    <h4>Total Hours</h4>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="count">
                    <span class="fa fa-smile-o"></span>
                    <p class="number">777</p>
                    <h4>Projects Complete</h4>
                </div>
            </div>
        </div>
    </div>
</section>