
@{
    ViewData["Title"] = "Pending";
}

<h1>Pending</h1>

<h4>Your Account Verification is still not yet done, please wait....Thankyou</h4>

@*<div>
    @Html.ActionLink("Go to HomePage", "Index", new { /* id=item.PrimaryKey */ }) |
</div>*@
