
@{
    ViewData["Title"] = "Rejected";
}

<h1>Rejected</h1>

<h4>Your Account Verification has been Rejected as the documents submitted are not correct, please check and Re-apply for verification....Thankyou</h4>

<div>
    @Html.ActionLink("Go to HomePage", "Index", new { /* id=item.PrimaryKey */ }) |
</div>