
@{
    ViewData["Title"] = "SuccessVerifiaction";
}

<h4>"Succesfully applied for Verification, Please wait till your documents are verified abd there after you can raise your Events for Donations,Thankyou....."</h4>

@Html.ActionLink("Back to Home Page", "Index", new { /* id=item.PrimaryKey */ })